
<form>
    <accordion heading="Configs">
        <accordion-group heading="{{serverConfig.title}}" is-open="true">
            <div ng-repeat="(key,value) in serverConfig" ng-if="key != 'title'">
                <label ng-bind="key"></label> <input class="long" ng-model="serverConfig[key]"/>
            </div>
        </accordion-group>
        <accordion-group heading="{{actionConfig.title}}">
            <div ng-repeat="(key,value) in actionConfig" ng-if="key != 'title'">
                <label ng-bind="key"></label> <input type="checkbox" ng-model="actionConfig[key]"/>
            </div>
            <h3>Sites</h3>
            <div class="btn-group" ng-repeat="(key,value) in sites">
                <button type="button" class="btn btn-primary" ng-model="sites[key]" btn-checkbox ng-bind="key"></button>
            </div>
        </accordion-group>
        <accordion-group heading="Query Parameters">
            <div ng-repeat="pair in queryParams">
                <div ng-repeat ="(key,value) in pair">
                    <label ng-bind="key"></label> <input class="long" ng-model="pair[key]"/>
                </div>
            </div>
            <input ng-model="newParam"/><button type="button" class="btn btn-default" ng-click="addQueryParam(newParam)"><span class="glyphicon glyphicon-plus"></span> Add Param</button>
            <button type="button" class="btn btn-default" ng-click="removeQueryParam()"><span class="glyphicon glyphicon-plus"></span> Remove Param</button>
        </accordion-group>
    </accordion>
</form>
<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="saveConfig()">
        <span class="glyphicon glyphicon-save"></span> Save
    </button>
    <button type="button" class="btn btn-default" ng-click="resetConfig()">
        <span class="glyphicon glyphicon-retweet"></span> Reset
    </button>
</div>

