<div ng-include="'partials/navbar'"></div>

<button type="button" class="btn btn-default" ng-click="publish()">
    <span class="glyphicon glyphicon-cloud"></span> Publish Modifications
</button>

<button type="button" class="btn btn-default" ng-click="saveResults()">
    <span class="glyphicon glyphicon-fire"></span> Activate Pages
</button>