<div ng-include="'partials/navbar'"></div>

<div ng-controller="RewriterCtrl" ng-init="init()">
    <div ng-include="'partials/config'"></div>
    <div ng-include="'partials/alerts'"></div>
</div>

<div class="footer">
  <p>Let's do some work!</p>
</div>
