<div ng-include="'partials/navbar'"></div>

<div ng-include="'partials/alerts'"></div>
<div ng-repeat="group in nodesByGroup">
    <h3>{{group.key}}</h3>
    <progressbar max="group.totalNodes.length" class="progress-striped" value="group.nodesProcessed.length"><span>{{group.nodesProcessed.length}} / {{group.totalNodes.length}}</span></progressbar>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="loadTextNodes()">
        <span class="glyphicon glyphicon-refresh"></span> Load text nodes
    </button>
    <button type="button" class="btn btn-default" ng-click="saveResults()">
        <span class="glyphicon glyphicon-ok"></span> Save Results
    </button>
    <button type="button" class="btn btn-default" ng-click="abortQueries()">
        <span class="glyphicon glyphicon-trash"></span> Abort Queries
    </button>
</div>
