<div ng-include="'partials/navbar'"></div>

<div class="row"><progressbar value="progress"></progressbar></div>

<button type="button" class="btn btn-default btn-lg" ng-click="loadSites()">
    <span class="glyphicon glyphicon-transfer"></span> Execute Query
</button>

<div ng-include="'partials/alerts'"></div>

<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="saveNodes()">
        <span class="glyphicon glyphicon-ok"></span> Save Results
    </button>
    <button type="button" class="btn btn-default" ng-click="abortQueries()">
        <span class="glyphicon glyphicon-trash"></span> Abort Queries
    </button>
</div>
