<div ng-include="'partials/navbar'"></div>

<div ng-include="'partials/alerts'"></div>

<input placeholder="Search" value="you" ng-model="searchText" class="clear">

<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="process1to1()">
        <span class="glyphicon glyphicon-step-forward"></span> Process 1:1 Rewrites
    </button>
    <button type="button" class="btn btn-default" ng-click="processFuzzy()">
        <span class="glyphicon glyphicon-fast-forward"></span> Process Fuzzy Matches
    </button>
    <button type="button" class="btn btn-default" ng-click="saveResults()">
        <span class="glyphicon glyphicon-ok"></span> Save Results
    </button>
</div>

<tabset justified="true">
    <tab ng-repeat="group in loadedNodes" heading="{{group.key}}" active="group.active" disabled="group.disabled">
        <accordion>
            <accordion-group heading="{{config.serverConfig.host}}{{node.page}}.html" ng-repeat="node in group.nodesProcessed | filter:searchText">
                <div class=".col-md-4">
                    <h5>Old</h5>
                    <div ng-bind-html="node.data.oldText | highlight:searchText"></div>
                    <a ng-href="node.data.oldLinkURL"></a>
                </div>
                <div class=".col-md-4">
                    <h5>New</h5>
                    <p ng-bind-html="node.data.text | highlight:searchText"></p>
                    <a ng-href="node.data.linkURL"></a>
                </div>
            </accordion-group>
        </accordion>
    </tab>
</tabset>